[submodule "packages/tinker-jspaint/jspaint"]
	path = packages/tinker-jspaint/jspaint
	url = https://github.com/1j01/jspaint.git
[submodule "packages/tinker-svgedit/svgedit"]
	path = packages/tinker-svgedit/svgedit
	url = https://github.com/SVG-Edit/svgedit.git
[submodule "packages/tinker-excalidraw/excalidraw"]
	path = packages/tinker-excalidraw/excalidraw
	url = https://github.com/excalidraw/excalidraw.git
[submodule "packages/tinker-jsoncrack/jsoncrack"]
	path = packages/tinker-jsoncrack/jsoncrack
	url = https://github.com/AykutSarac/jsoncrack.com.git
[submodule "packages/tinker-ctool/Ctool"]
	path = packages/tinker-ctool/Ctool
	url = https://github.com/baiy/Ctool.git
[submodule "packages/tinker-dpaint/DPaint-js"]
	path = packages/tinker-dpaint/DPaint-js
	url = https://github.com/steffest/DPaint-js.git
[submodule "packages/tinker-drawio/drawio"]
	path = packages/tinker-drawio/drawio
	url = https://github.com/jgraph/drawio.git
[submodule "packages/tinker-piskel/piskel"]
	path = packages/tinker-piskel/piskel
	url = https://github.com/piskelapp/piskel.git
[submodule "packages/tinker-klecks/klecks"]
	path = packages/tinker-klecks/klecks
	url = https://github.com/bitbof/klecks.git
[submodule "packages/tinker-minipaint/miniPaint"]
	path = packages/tinker-minipaint/miniPaint
	url = https://github.com/viliusle/miniPaint.git
[submodule "packages/tinker-audiomass/AudioMass"]
	path = packages/tinker-audiomass/AudioMass
	url = https://github.com/pkalogiros/AudioMass.git
