[submodule "packages/tinker-jspaint/jspaint"]
	path = packages/tinker-jspaint/jspaint
	url = https://github.com/1j01/jspaint.git
[submodule "packages/tinker-svgedit/svgedit"]
	path = packages/tinker-svgedit/svgedit
	url = https://github.com/SVG-Edit/svgedit.git
[submodule "packages/tinker-excalidraw/excalidraw"]
	path = packages/tinker-excalidraw/excalidraw
	url = https://github.com/excalidraw/excalidraw.git
[submodule "packages/tinker-jsoncrack/jsoncrack"]
	path = packages/tinker-jsoncrack/jsoncrack
	url = https://github.com/AykutSarac/jsoncrack.com.git
[submodule "packages/tinker-ctool/Ctool"]
	path = packages/tinker-ctool/Ctool
	url = https://github.com/baiy/Ctool.git
[submodule "packages/tinker-dpaint/DPaint-js"]
	path = packages/tinker-dpaint/DPaint-js
	url = https://github.com/steffest/DPaint-js.git
